---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

const posts = (await getCollection("writing"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Writing – daniel ho">
  <h1>Writing</h1>
  <PostList posts={posts} />
</BaseLayout>
